*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
.DS_Store
hs_err_pid*
*.class
.gradle/
build/
bin/
gen/
.iws
.ipr
.iml
local.properties
*.apk
*.ap_
*.iws
.idea/libraries
.idea/tasks.xml
.idea/vcs.xml
.idea/workspace.xml
/out/
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
proguard/
gen-external-apk
libs
*.jar
*.war
*.ear
*.cab
*.msi
*.msm